@import "tailwindcss";

@theme inline {
  --color-background: #050505;
  --color-foreground: #ededed;
  --font-cairo: var(--font-cairo);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(128, 0, 255, 0.4);
  }
}
